
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>_loginSigninLayout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("AjaxCall", required: false)
    @RenderSection("styling", required: false)

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
